*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body{
    background-color : #56595c;
    color: #fff;
}

.container{
    width:80%;
    margin: auto;
}
h1{
    text-align: center;
    margin:1.5em;
    text-transform: capitalize;
}
.secret{
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 1em auto;
    width: 50px;
    height: 50px;
    font-size: 36px;
    background-color: #fff;
    color: #56595c;
}
input[type='text']{
    display: block;
    width:80%;
    padding: 0.5em;
    margin: auto;
}
.display{
    display: none;
    width: 80%;
    padding: 0.8em;
    margin: auto;
    margin-top: .5em;
    background-color: #747b81;
}
.score-board{
    width: 80%;
    margin: 1em auto;
}
.error{
    color: #f00;
}